<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/wechat_icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
<!-- 
<script src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script> 
-->
<script src="/js/ox4-blog_IMISSU.js"></script> 


</body>

</html>
